<div class="modal fade" id="LogOut" aria-labelledby="LogOutLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="LogOutLabel">Xəbərdarlıq</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Login" asp-action="LogOut" method="get">
                    <div class="form-group">
                        <p>Sistemdən çıxmaq istədiyinizə əminsinizmi?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Xeyr</button>
                        <button type="submit" class="btn btn-primary">Bəli</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>